.sidebar {
  width: 270px;
  height: 100vh;
  background: #0D0E22;
  color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;
  transition: 0.2s;
  color: #c8c8c8;
}

.item:hover {
  background: #5843D3;
  color: #fff;
}

.active {
  background: #5843D3;
  color: #fff;
}

.icon {
  font-size: 18px;
}

.logout {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  background: #272542;
  padding: 15px 10px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logout:hover{
  background: #5843D3;
  color: #fff;
}
.searchContainer {
  padding: 0rem;
  margin-bottom: 5rem;
}
.searchContainer div {
  margin-bottom: 0; 
}
.searchContainer input {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
}
