.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer input {
  width: 100%;
  padding: 12px 15px;
  background: transparent;
  border: 1px solid #42455a;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

.inputContainer input:focus {
  border-color: #7a5bfd;
}
