/* Fundo geral */
.authContainer {
  width: 400px;
  padding: 46px;
  background: #111329;
  border-radius: 25px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 175px;
  color: white;
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}

.authContainer::after {
  content: "";
  position: absolute;
  bottom: -25px;
  width: 80%;
  height: 40px;
  background: rgba(78, 51, 230, 0.4);
  filter: blur(30px);
  border-radius: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Ajuste este valor para aumentar/diminuir o espaço */
  width: 100%;
}

.form button {
  margin-top: 10px; /* Espaço extra antes do botão se desejar */
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}

/* espaçamento entre os elementos */
.authContainer > *:not(:first-child) {
  width: 100%;
  margin-bottom: 36px;
}

.link {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  color: #ccc;
}

.link span {
  color: #7a5bfd;
  cursor: pointer;
  transition: 0.3s;
}

.link span:hover {
  color: #a48cff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
